/*     / //  /  /   ☔ RainFox 5.3 | 2019-2022   //  / /  /     */

/* make sure you selected only ONE of the options.
Remove this file or disable both rules below to use proton-like (lines at the top) */



/* option 1: photon-like (show containers as lines at the tab bottom) */
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
	border-radius: 12px 14px 0 0 !important;
	margin: 0 6px !important;
	margin-top: calc( var(--tab-min-height) - 4px) !important;
}/**/



/* option 2: australis-like (show container as a tab background) 
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
	border-radius: var(--userChrome-tab-rounding) var(--userChrome-tab-rounding) 0px 0px !important;
}
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
	background-color: color-mix(in srgb, var(--identity-icon-color) 30%, #fff0) !important;
	min-height: 100px !important;
	display: flex !important;
	margin: 0 !important;
}/**/