/* 　/ //　/　/　　RainFox v0.4 　//　/ /　　// ☔ Based on MaterialFox and QuietFox | 2019-2021 */

/* center bookmarks */
#PlacesToolbarItems {
	justify-content: center !important;
	display: flex !important;
	overflow: hidden !important;
}
	
/* show/hide animation */
#PersonalToolbar {
	visibility: collapse !important;
	transform: translateY(-30%) !important;
	transition: var(--userChrome-animation-speed) !important;
	opacity: 0% !important;
}
#navigator-toolbox:hover > #PersonalToolbar {
	visibility: visible !important; 
	transform: translateY(0%) !important;
	opacity: 100% !important;
}

/* hide "more bookmarks" chevron (it seems it's almost impossible to overflow bookmarkbar with "display: flex" property) */
#PlacesChevron {
	display: none !important;
}