/* 　/ //　/　/　　RainFox v0.5 　//　/ /　　// ☔ Based on MaterialFox and QuietFox | 2019-2021 */

.urlbarView-body-inner {
	border-color: var(--panel-separator-color) !important;
}
.urlbarView-row-inner {
	transition: var(--userChrome-animation-speed) !important;
	border-radius: var(--toolbarbutton-border-radius) !important;
}
.urlbar-icon {
	width: 28px !important;	height: 28px !important;
	padding: 6px !important;
	transition: var(--userChrome-animation-speed) !important;
}

/* smaller search engine paddings */
.searchbar-engine-one-off-item {
	margin: 0px 4px !important;
}
#urlbar .searchbar-engine-one-off-item {
	margin-inline-end: 4px !important;
}

/* remove default border */
#urlbar-background, #searchbar {
	border: 0px solid transparent !important;
	border-radius: var(--toolbarbutton-border-radius);
}

/* shadows for focused states */
#urlbar:is([focused=true]):not([open=true]) > #urlbar-background {
	box-shadow: 0px 0px 8px -2px #0004 !important;
}

/* more contrast shadow (used in previous versions) -- ENABLE if you can't see the urlbar shadow properly 
#urlbar[focused="true"] > #urlbar-background {
	border-color: var(--lwt-toolbar-field-focus) !important;
	box-shadow: 0px 1px 14px -3px #0009 !important;
}/**/

/* urlbar recommendations block bad padding fix */
#contextual-feature-recommendation { 
	padding: 2px !important;
}