/* 　/ //　/　/　　RainFox v0.5 　//　/ /　　// ☔ Based on MaterialFox and QuietFox | 2019-2021 */

/* autohide "forward" button when it can't be pressed */
#forward-button {
	transition: var(--userChrome-animation-speed) !important;
}
#forward-button[disabled="true"] {
	margin-left: -36px !important;
	opacity: 0 !important;
	pointer-events: none;
}

/* show "forward" button in editor (for some reason firefox ignores ":not([wasdisabled="true"])") */
#forward-button[wasdisabled="true"] {
	margin-left: 0 !important;
	opacity: 1 !important;
}

/* add a circle on the "back" button (like it was in pre-Photon FF) */
/* uses 1px for better look with Photon icons off; this value changes to 2px in userChromeIcons.css */
#back-button .toolbarbutton-icon {
	margin-left: 2px !important;
	border-radius: 1280px !important;
	box-shadow: 0px 0px 0px 0.92px color-mix(in srgb, currentColor 40%, #fff0) /* uses 0.92px instead of 1px to prevent "overdrawn" circle that appears sometimes for no reason */
}