/* 　/ //　/　/　　RainFox v0.5 　//　/ /　　// ☔ Based on MaterialFox and QuietFox | 2019-2021 */

#main-menubar:not(:-moz-window-inactive) {
	background-color: transparent !important;
}
#main-menubar {
	height: 18px !important;
	text-shadow: 0 0 2px #3336, 0 1px 0 #3330 !important;
}
#main-menubar > menu {
	color: inherit !important;
}
#main-menubar > menu:hover {
	color: var(--arrowpanel-color) !important;
	background-color: var(--arrowpanel-background) !important;
	text-shadow: none !important;
}