/*     / //  /  /   ☔ RainFox 5.3 | 2019-2022   //  / /  /     */

.urlbarView-body-inner {
	border-color: var(--panel-separator-color) !important;
}
.urlbarView-row-inner {
	transition: var(--userChrome-animation-speed) !important;
	border-radius: var(--toolbarbutton-border-radius) !important;
}

/* smaller search engine paddings */
.searchbar-engine-one-off-item {
	margin: 0px 4px !important;
}
#urlbar .searchbar-engine-one-off-item {
	margin-inline-end: 4px !important;
}

/* make Firefox Suggests separation more subtle */
.urlbarView-row[label]::before {
	font-size: 0 !important;
	opacity: 1 !important;
	width: 100%;
	top: -3px !important;
	border-top: 1px dashed var(--autocomplete-popup-separator-color);
}
.urlbarView-row[label] {
	margin-block-start: 5px !important;
}

/* remove default border */
#urlbar-background, #searchbar {
	border: 0px solid transparent !important;
	border-radius: var(--toolbarbutton-border-radius);
}

/* focused state - use shadow and remove outline */
#urlbar:is([focused=true]):not([open=true]) > #urlbar-background, #searchbar:focus-within {
	outline: none !important;
	box-shadow: 0px 0px 8px -2px #0004 !important;
}

/* more contrast shadow (used in previous versions) -- ENABLE if you can't see the urlbar shadow properly 
#urlbar[focused="true"] > #urlbar-background {
	border-color: var(--lwt-toolbar-field-focus) !important;
	box-shadow: 0px 1px 14px -3px #0009 !important;
}/**/

/* urlbar recommendations block bad padding fix */
#contextual-feature-recommendation { 
	padding: 2px !important;
}