/* 　/ //　/　/　　RainFox v0.5 　//　/ /　　// ☔ Based on MaterialFox and QuietFox | 2019-2021 */

/* buttons icons fix */
.button-box {
	padding-block: 3px !important; padding-inline: 5px !important;
}

/* enlarge your p      rogress bar */
.downloadContainer {
	margin-inline-end: -4px !important;
}
.downloadBlockedBadgeNew {
	margin: 0 0 !important;
}

/* normal download prograss bar (if anyone's intrested, I used elementaryOS 0.6 beta ISO for testing :D) */
.downloadProgress {
	border: none !important; border-radius: 1280px !important;
	background-color: var(--button-active-bgcolor) !important;
	margin: 6px 0 0px !important;
	height: 4px !important;
}
.downloadProgress::-moz-progress-bar {
	background-color: var(--toolbarbutton-icon-fill-attention) !important;
	border: none !important; border-radius: 1280px;
	margin: 0 0 !important; height: inherit !important;
}