/* Part of RainFox CSS for Mozilla Firefox | RainFox is originally based on MaterialFox and QuietFox | 2019-2021 */

#PlacesToolbarItems {
	justify-content: center !important;
	display: flex !important;
	overflow: hidden !important;
	}
#PersonalToolbar {
	visibility: collapse !important;
	transform: translateY(-30%) !important;
	opacity: 0% !important;
	transition: var(--animation-speed) !important;
	}
#navigator-toolbox:hover > #PersonalToolbar {
	visibility: visible !important; 
	transform: translateY(0%) !important;
	opacity: 100% !important;
	}